# Ignore results directory (trained models, logs, plots)
results/
**/results/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db